@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap");

.font {
  color: white;
  text-decoration: none;
}

.logo {
  font-family: "Roboto Slab";

  letter-spacing: 1px;
  font-size: 1.8em;
}
