@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap");

.font {
  color: white;
  text-decoration: none;
}

.logo {
  font-family: "Roboto Slab";

  letter-spacing: 1px;
  font-size: 1.8em;
}

.form-box {
  /* background-color: rgb(234, 234, 234); */
  border: 1px solid rgb(229, 226, 226);
  border-radius: 10px;
  padding: 100px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
